<%- include('header')-%>


  <div class="min-height-300 bg-light position-absolute w-100"></div>
  <!-- ... (rest of the code) ... --> <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html " target="_blank">
          <img src="../assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bolder"><SPan class="font-weight-bold">PINK</SPan>MARTINI</span>
        </a>
      </div>
      <hr class="horizontal dark mt-0">
      <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/admin/login">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
        <!-- <form action="/category" method="GET"> -->
          <li class="nav-item ">
            <a class="nav-link " href="/admin/category">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Category</span>
            </a>
          </li>
        <!-- </form> -->
          <li class="nav-item">
            <a class="nav-link " href="/admin/Products">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/orders">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-app text-info text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/users">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-world-2 text-danger text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <!-- <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
          </li> -->
          <li class="nav-item">
            <a class="nav-link " href="">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Brand</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/coupons">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Coupons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/offers">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-collection text-info text-sm opacity-10"></i>
              </div> 
              <span class="nav-link-text ms-1">Category Offers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/ProductOffersPage">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-collection text-info text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Product Offers</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/admin/SalesReport">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-collection text-info text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Sales Report</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link " href="/admin/logout">
              <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                <i class="ni ni-collection text-info text-sm opacity-10"></i>
              </div>
              <span class="nav-link-text ms-1">Logout</span>
            </a>
          </li>
        </ul>
      </div>
     
    </aside>
    <main class="main-content position-relative border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            
            <h6 class="font-weight-bolder text-white mb-0">PRODUCTS</h6>
          </nav>

          
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center">
                  <a href="/admin/addproduct" class="nav-link text-dark font-weight-bold px-0">
                    <span class="d-sm-inline d-none">ADD PRODUCT</span>
                  </a>
              </li>
                
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-white p-0">
                  <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                </a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
      
      
     <!-- category.ejs -->

     <%- include('header') -%>

<div class="container">
  <h1 class="my-4">Products</h1>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive ">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Product</th>
              <th>Color</th>
              <th>Size</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
           
            <% products.forEach(function(product) { %>
            <tr data-product-id="<%= product._id %>">
              <td>
                <div class="d-flex align-items-center">
                  <% if (product.variants && product.variants.length > 0 && product.variants[0].images && product.variants[0].images.length > 0) { %>
                      <img src="data:<%= product.variants[0].images[0].imagetype %>;base64,<%= product.variants[0].images[0].imagedata.toString('base64') %>" alt="Product Image" class="rounded mr-2" style="width: 50px; height: 50px;">
                  <% } else { %>
                      <span class="rounded bg-secondary mr-2" style="width: 50px; height: 50px;"></span>
                  <% } %>
                  <%= product.title %>
              </div>
              
              </td>
              <td>
                <div class="color-display">
                    <% product.variants.forEach(function(variant) { %>
                        <span class="color-item" data-product-id="<%= product._id %>" data-color="<%= variant.colour.colour %>" data-price="<%= variant.price %>">
                            <%= variant.colour.colour %>
                        </span><br><br>
                    <% }) %>
                </div>
            </td>
            <td>
                <div class="size-display">
                    <% product.variants.forEach(function(variant) { %>
                        <% variant.sizeQuantities.forEach(function(sizeQuantity) { %>
                            <span class="size-item" data-size="<%= sizeQuantity.size.size %>" data-variant-id="<%= variant._id %>" data-quantity="<%= sizeQuantity.quantity %>">
                                Size: <%= sizeQuantity.size.size %> 
                            </span><br><br>
                        <% }) %>
                    <% }) %>
                </div>
            </td>
            <td>
                <span class="price-display text-dark">
                    <% product.variants.forEach(function(variant) { %>
                        <span data-variant-id="<%= variant._id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= variant.price %></span><br><br>
                    <% }) %>
                </span><br><br>
            </td>
            <td>
                <span class="quantity-display text-dark">
                    <% product.variants.forEach(function(variant) { %>
                        <% variant.sizeQuantities.forEach(function(sizeQuantity) { %>
                            <span data-variant-id="<%= variant._id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= sizeQuantity.quantity %></span><br><br>
                        <% }) %>
                    <% }) %>
                </span><br><br>
            </td>
            
              <td>
                <div class="btn-group">
                  <a href="/admin/editproduct/<%= product._id %>">
                  <button class="btn btn-primary btn-sm mr-2 edit-btn"   >Edit</button></a>
                  <% if (product.is_list) { %>
                    <a href="/admin/unlist_product/<%= product._id %>">
                      <button class="btn btn-danger btn-sm unlist-btn" data-product-id="<%= product._id %>" data-is-listed="<%= product.is_list %>">
                        Unlist
                      </button>
                    </a>
                  <% } else { %>
                    <a href="/admin/list_product/<%= product._id %>">
                      <button class="btn btn-success btn-sm list-btn" data-product-id="<%= product._id %>" data-is-listed="<%= product.is_list %>">
                        List
                      </button>
                    </a>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
        </li>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>

      <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
        </li>
      <% } %>
    </ul>
  </nav>
</div>


<%- include('footer') -%>

<script>
document.addEventListener('DOMContentLoaded', function() {
  function updatePriceAndQuantity(row, price, quantity) {
    const priceDisplay = row.querySelector('.price-display');
    const quantityDisplay = row.querySelector('.quantity-display');
    priceDisplay.textContent = price;
    quantityDisplay.textContent = quantity;
  }

  function handleColorSelection(event) {
    const row = event.target.closest('tr');
    const selectedColorVariantId = event.target.value;
    const selectedColorPrice = event.target.options[event.target.selectedIndex].getAttribute('data-price');
    const sizeSelect = row.querySelector('.size-select');
    const selectedSizeOption = sizeSelect.options[sizeSelect.selectedIndex];

    if (selectedSizeOption && selectedColorVariantId) {
      const sizeVariantId = selectedSizeOption.getAttribute('data-variant-id');
      const selectedQuantity = sizeVariantId === selectedColorVariantId ? selectedSizeOption.getAttribute('data-quantity') : 0;
      updatePriceAndQuantity(row, selectedColorPrice, selectedQuantity);
    } else {
      updatePriceAndQuantity(row, selectedColorPrice, 0);
    }
  }

  function handleSizeSelection(event) {
    const row = event.target.closest('tr');
    const selectedSizeOption = event.target.options[event.target.selectedIndex];
    const selectedSizeVariantId = selectedSizeOption.getAttribute('data-variant-id');
    const colorSelect = row.querySelector('.color-select');
    const selectedColorVariantId = colorSelect.value;
    const selectedColorPrice = colorSelect.options[colorSelect.selectedIndex].getAttribute('data-price');

    if (selectedColorVariantId && selectedSizeVariantId) {
      const selectedQuantity = selectedSizeVariantId === selectedColorVariantId ? selectedSizeOption.getAttribute('data-quantity') : 0;
      updatePriceAndQuantity(row, selectedColorPrice, selectedQuantity);
    } else {
      updatePriceAndQuantity(row, 0, 0);
    }
  }

  document.querySelectorAll('.color-select').forEach(select => {
    select.addEventListener('change', handleColorSelection);
  });

  document.querySelectorAll('.size-select').forEach(select => {
    select.addEventListener('change', handleSizeSelection);
  });

  // document.querySelectorAll('.unlist-btn').forEach(button => {
  //   button.addEventListener('click', function() {
  //     const productId = button.getAttribute('data-product-id');
  //     const isListed = button.getAttribute('data-is-listed') === 'true';

  //     // Send AJAX request to update listing status
  //     fetch(`/products/${productId}/listing`, {
  //       method: 'PUT',
  //       headers: {
  //         'Content-Type': 'application/json',
  //       },
  //       body: JSON.stringify({ isListed: !isListed }),
  //     })
  //       .then(response => response.json())
  //       .then(data => {
  //         const buttonText = isListed ? 'List' : 'Unlist';
  //         button.textContent = buttonText;
  //         button.setAttribute('data-is-listed', !isListed);
  //       })
  //       .catch(error => {
  //         console.error('Error updating listing status:', error);
  //       });
  //   });
  // });

  // document.querySelectorAll('.edit-btn').forEach(button => {
  //   button.addEventListener('click', function() {
  //     const productId = button.getAttribute('data-product-id');

  //     // Fetch product data and populate edit form
  //     fetch(`/products/${productId}`)
  //       .then(response => response.json())
  //       .then(product => {
  //         // Populate edit form with product data
  //         // ...
  //       })
  //       .catch(error => {
  //         console.error('Error fetching product data:', error);
  //       });
  //   });
  // });
});
</script>

    
    
    
    </div>
              
    </main>
    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-cog py-2"> </i>
      </a>
      <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3 ">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Argon Configurator</h5>
            <p>See our dashboard options.</p>
          </div>
          <div class="float-end mt-4">
            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0 overflow-auto">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Sidebar Colors</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Sidenav Type</h6>
            <p class="text-sm">Choose between 2 different sidenav types.</p>
          </div>
          <div class="d-flex">
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
            <button class="btn bg-gradient-primary w-100 px-3 mb-2" data-class="bg-default" onclick="sidebarType(this)">Dark</button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
          <!-- Navbar Fixed -->
          <div class="d-flex my-3">
            <h6 class="mb-0">Navbar Fixed</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
            </div>
          </div>
          <hr class="horizontal dark my-sm-4">
          <div class="mt-2 mb-5 d-flex">
            <h6 class="mb-0">Light / Dark</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
            </div>
          </div>
          <a class="btn bg-gradient-dark w-100" href="https://www.creative-tim.com/product/argon-dashboard">Free Download</a>
          <a class="btn btn-outline-dark w-100" href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard">View documentation</a>
          <div class="w-100 text-center">
            <a class="github-button" href="https://github.com/creativetimofficial/argon-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/argon-dashboard on GitHub">Star</a>
            <h6 class="mt-3">Thank you for sharing!</h6>
            <a href="https://twitter.com/intent/tweet?text=Check%20Argon%20Dashboard%20made%20by%20%40CreativeTim%20%23webdesign%20%23dashboard%20%23bootstrap5&amp;url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fargon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
              <i class="fab fa-twitter me-1" aria-hidden="true"></i> Tweet
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/argon-dashboard" class="btn btn-dark mb-0 me-2" target="_blank">
              <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Share
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>

  <!-- Add this script at the end of the <body> section -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

  <%- include('footer')-%>
  

